body { font-family: 'Poppins', sans-serif; background-color: #fff7fb; margin:0; padding:0; }
header {background: #a39568;color: white;display: flex;justify-content: space-between;align-items: center;padding: 1rem 2rem;}
header h1 {margin: 0;}
nav a {color: white;text-decoration: none;margin-left: 1rem;font-weight: bold;}
nav a:hover {text-decoration: underline;}